@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

$enable-rounded: false;
$enable-responsive-font-sizes: true;

$theme-colors: (
  "secondary": #eaecf2,
       "info": #99A8C5,
);

$spacer: 1.5rem;

$border-color: #000;

$text-muted: #a2a2a2;
$gray-900: #292929;

$font-family-base: 'PT Serif', serif;
$headings-font-family: 'Roboto', sans-serif;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 4;
$h2-font-size: $font-size-base * 3;
$h3-font-size: $font-size-base * 2;
$h5-font-size: $font-size-base * 1.125;
$headings-font-weight: bold;
$lead-font-size: $font-size-base * 1.125;
$small-font-size: 14px;

$badge-font-weight: 400;
$badge-font-size: $small-font-size;

$card-border-width: 0;
$card-cap-bg: transparent;

$navbar-padding-y: 7px;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1268px
) !default;

$list-group-item-padding-x: 0;
$list-group-border-color: rgba(41, 41, 41, 0.36);

$hr-border-color: $gray-900;
$hr-border-width: 4px;

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

.font-family-condensed {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.05em;
}

.font-family-roboto {
  font-family: 'Roboto', sans-serif;
}

.letter-spacing-lg {
  letter-spacing: 0.25em;
}

.letter-spacing-sm {
  letter-spacing: 0.05em;
}

.border-md {
  border-width: 3px !important;
}

.smallest {
  font-size: 10px;
}