<div class="bg-secondary border-black border-left border-md mb-3 py-2">
    <div class="card-group flex-column flex-lg-row">
        <div class="card bg-secondary">
            <div class="card-header">
                <small class="font-family-condensed letter-spacing-lg">Кризис 2.0</small>
            </div>
            <div class="card-body py-0">
                <h5 class="card-title mb-0">В США будут решать, возобновить ли работу предприятий в условиях коронавируса</h5>
            </div>
            <div class="card-footer d-flex no-gutters">
                <div class="col-auto">
                    <small class="text-muted font-family-condensed">20:10 сегодня</small>
                </div>
                <div class="col d-lg-none">
                    <hr class="m-2 border-light-gray">
                </div>
            </div>
        </div>
        <div class="card bg-secondary">
            <div class="card-header">
                <small class="font-family-condensed letter-spacing-lg">Пандемия</small>
            </div>
            <div class="card-body py-0">
                <h5 class="card-title mb-0">Коронавирус рекордно подорвал деловую активность в Европе</h5>
            </div>
            <div class="card-footer d-flex no-gutters">
                <div class="col-auto">
                    <small class="text-muted font-family-condensed">20:10 сегодня</small>
                </div>
                <div class="col d-lg-none">
                    <hr class="m-2 border-light-gray">
                </div>
            </div>
        </div>
        <div class="card bg-secondary">
            <div class="card-header">
                <small class="font-family-condensed letter-spacing-lg">Кризис 2.0</small>
            </div>
            <div class="card-body py-0">
                <h5 class="card-title mb-0">В США будут решать, возобновить ли работу предприятий в условиях коронавируса</h5>
            </div>
            <div class="card-footer d-flex no-gutters">
                <div class="col-auto">
                    <small class="text-muted font-family-condensed">20:10 сегодня</small>
                </div>
                <div class="col d-lg-none">
                    <hr class="m-2 border-light-gray">
                </div>
            </div>
        </div>
        <div class="card bg-secondary">
            <div class="card-header">
                <small class="font-family-condensed letter-spacing-lg">Самоизоляция</small>
            </div>
            <div class="card-body py-0">
                <h5 class="card-title mb-0">Коронавирус рекордно подорвал деловую активность в Европе</h5>
            </div>
            <div class="card-footer d-flex no-gutters">
                <div class="col-auto">
                    <small class="text-muted font-family-condensed">20:10 сегодня</small>
                </div>
                <div class="col d-lg-none">
                    <hr class="m-2 border-light-gray">
                </div>
            </div>
        </div>
        <div class="card bg-secondary">
            <div class="card-header">
                <small class="font-family-condensed letter-spacing-lg">Реформы</small>
            </div>
            <div class="card-body py-0">
                <h5 class="card-title mb-0">В США будут решать, возобновить ли работу предприятий в условиях коронавируса</h5>
            </div>
            <div class="card-footer d-flex no-gutters">
                <div class="col-auto">
                    <small class="text-muted font-family-condensed">20:10 сегодня</small>
                </div>
                <div class="col d-lg-none">
                    <hr class="m-2 border-light-gray">
                </div>
            </div>
        </div>
    </div>
</div>