<div class="bg-secondary border-left border-md mb-3">
    <div class="card-group flex-column flex-lg-row">
        <div class="card bg-secondary">
            <div class="card-header">
                <small class="font-family-condensed letter-spacing-lg">Кризис 2.0</small>
            </div>
            <div class="card-body py-0">
                <h5 class="card-title mb-0">В США будут решать, возобновить ли работу предприятий в условиях коронавируса</h5>
            </div>
            <div class="card-footer bg-secondary border-0 text-muted small font-family-condensed">20:10 сегодня</div>
        </div>
        <div class="card bg-secondary">
            <div class="card-header">
                <small class="font-family-condensed letter-spacing-lg">Пандемия</small>
            </div>
            <div class="card-body py-0">
                <h5 class="card-title mb-0">Коронавирус рекордно подорвал деловую активность в Европе</h5>
            </div>
            <div class="card-footer bg-secondary border-0 text-muted small font-family-condensed">15:30 Вчер</div>
        </div>
        <div class="card bg-secondary">
            <div class="card-header">
                <small class="font-family-condensed letter-spacing-lg">Кризис 2.0</small>
            </div>
            <div class="card-body py-0">
                <h5 class="card-title mb-0">В США будут решать, возобновить ли работу предприятий в условиях коронавируса</h5>
            </div>
            <div class="card-footer bg-secondary border-0 text-muted small font-family-condensed">20:10 сегодня</div>
        </div>
        <div class="card bg-secondary">
            <div class="card-header">
                <small class="font-family-condensed letter-spacing-lg">Самоизоляция</small>
            </div>
            <div class="card-body py-0">
                <h5 class="card-title mb-0">Коронавирус рекордно подорвал деловую активность в Европе</h5>
            </div>
            <div class="card-footer bg-secondary border-0 text-muted small font-family-condensed">15:30 Вчер</div>
        </div>
        <div class="card bg-secondary">
            <div class="card-header">
                <small class="font-family-condensed letter-spacing-lg">Реформы</small>
            </div>
            <div class="card-body py-0">
                <h5 class="card-title mb-0">В США будут решать, возобновить ли работу предприятий в условиях коронавируса</h5>
            </div>
            <div class="card-footer bg-secondary border-0 text-muted small font-family-condensed">20:10 сегодня</div>
        </div>
    </div>
</div>